# Python compile files
*.pyc

# Python Enviroment
.python-version

# Sublime
.tern-project
.tern-port
*.sublime-project
*.sublime-workspace

# Emacs autosave
\#*\#
.\#*.*
*.*\~
.desktop
.projectile
.emacs.desktop
.emacs.desktop.lock

